.container__big-card {
  width: 550px;
  height: 510px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.big-card__title > h2{
  font-size: 2rem;
  margin-bottom: .3rem;
  margin-top: .3rem;
}

.big-card__description > p {
  color: gray;
  text-align: justify;
}

.container__big-card > a {
  color: gray;
  text-align: justify;
  text-decoration: none;
}



.big-card__photo > img{
  width: 100%;
  min-width: 550px;
}
