<div class="container__content">
<a
  [routerLink]="['']"
  class="botao_voltar"
  >VOLTAR
</a>
  <div class="content__cover">
  </div>
  <div class="content__title">
    <h1>Meu artigo</h1>
  </div>
  <div class="content__description">
    <p>
      Mussum Ipsum, cacilds vidis litro abertis. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.Paisis, filhis, espiritis santis.Quem num gosta di mé, boa gentis num é.Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.
    </p>
    <p>
      A ordem dos tratores não altera o pão duris.Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.Per aumento de cachacis, eu reclamis.Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.
    </p>
  </div>
</div>
