<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://www.alura.com.br/artigos/assets/como-comecar-com-angular/como-comecar-com-angular.png"
      cardTitle="Saiu nova versão do Angular"
      cardDescription="Mussum Ipsum, cacilds vidis litro abertis. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.Paisis, filhis, espiritis santis.Quem num gosta di mé, boa gentis num é.Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.

      A ordem dos tratores não altera o pão duris.Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.Per aumento de cachacis, eu reclamis.Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.">
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover ="https://www.clariontech.com/hubfs/Blog-images/Angular-Features.jpg"
      cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer orci
        massa, suscipit ut gravida sed">
    </app-small-card>
    <app-small-card
      photoCover ="https://www.clariontech.com/hubfs/Blog-images/Angular-Features.jpg"
      cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer orci
        massa, suscipit ut gravida sed">
    </app-small-card>
    <app-small-card
      photoCover ="https://www.clariontech.com/hubfs/Blog-images/Angular-Features.jpg"
      cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer orci
        massa, suscipit ut gravida sed">
    </app-small-card>
  </div>
</div>
